@{
    ViewData["Title"] = "About Us Page";
}

<body>
    <div class="product justify-content-center" id="dev-info">
        <div class="row profile" style="">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="~/images/Dev_image_Profile.jpeg" class="align-content-center" height="300px;width=300px" style="border-radius:10px;" />
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <p>
                    <h2> Dev Manishkumar Shah</h2>

                    I am very focused and self-aware person, and working outside my comfort zone is something that I really love doing. A little about my past job in the Navkar Institute of Commerce and Science, I held the position of Data Management Analyst where collecting data, integrating it local server ,managing the editing teams, uploading to AWS servers and help in managing 7 different online applications were some of my task while maintaining the data for all the teams and make sure everything works under company rules and integrity . I am well-versed in several different programming languages, including C, C#, HTML, CSS, JAVA, JavaScript, ASP.NET, jQuery, and SQL. In addition, I have extensive experience with photo-editing programs like Adobe Photoshop, Adobe Premiere, and other programs like Adobe Lightroom, etc. I have handful skills on Amazon Web Services and Microsoft Azure.

                </p>
            </div>
        </div>
    </div>



    <div class="product justify-content-center" id="kandarp-info">
        <div class="row">

            <div class="col-sm-8 col-md-8 col-lg-8">
                <p>
                    <h2> Kandarp Rushikesh Patel</h2>

                    I am a highly motivated Junior Web Developer with a strong passion for creating innovative and user-friendly digital solutions. My proficiency lies in frontend technologies including HTML, CSS, and JavaScript, along with a good grasp of the CSS framework Bootstrap. I am eager to further develop my skills in frameworks such as React and Angular. On the backend side, I am proficient in the programming language C# and have an intermediate understanding of Java. I have expertise in frameworks like ASP.Net Core, Entity Framework Core, and ASP.Net Web APIs, and I am keen to expand my knowledge into Node.js and Express.js. Additionally, I have intermediate skills in SQL and experience with Relational Database Management Systems such as Oracle Db and Microsoft SQL Server. My abilities extend to being a quick learner, an adept problem identifier and solver, and I excel in communication and time management.
                </p>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="~/images/Kandarp_Image_profile.png" class="align-content-center" height="300px;width=300px" style="border-radius:10px;" />
            </div>
        </div>
    </div>


    <div class="product justify-content-center" id="ayush-info">
        <div class="row profile">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="~/images/Ayush_Image_profile.png" class="align-content-center" height="300px;width=300px" style="border-radius:10px;" />
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <p>
                    <h2> Ayush Chakrani</h2>
                    I am a highly focused and self-aware person, and I genuinely enjoy working outside
                    of my comfort zone. A brief description of my present employment at Walmart
                    Canada: I am a Fresh Food Associate, completing client orders by locating products
                    on shelves, in freezers, coolers, bins, tables, or containers. Rotate merchandise in
                    accordance with corporate policies and procedures, clean shelves, bins, cases,
                    tables, and coolers, use suggestive marketing techniques, bag or wrap items for
                    customers or for display. I have extensive knowledge in C, C#, HTML, CSS, Java,
                    JavaScript, ASP.NET, jQuery, and SQL, among other programming languages. I also
                    have a lot of expertise using photo-editing software, including Adobe Photoshop,
                    Adobe Premiere, Adobe Lightroom, etc.

                </p>
            </div>
        </div>
    </div>

    <div class="product justify-content-center" id="chef-connect-info">
        <div class="row profile">
            
            <div class="col-sm-8 col-md-8 col-lg-8">
                <p>
                    <h2>Chef Connect</h2>
                    Till today the culinary industry has been revolving around serving in Hotels and Restaurants only. There are no other ways through which the professional chefs can showcase their talent to the world. Also, for a common man to get the experience of being served by these highly trained professional chefs becomes expensive at a time. So, to solve the problem of an alternative platform for chefs to showcase their talent and for common man to get this type of culinary experience at a cheaper price, we have come up with an idea of building an online platform called “Chef Connect” where we will connect such chefs with customer to solve their respective problems.

                    So, our platform will work as a medium for anyone who don’t want to cook or order food online on certain day and wants that someone comes at their place to cook their desired dishes with hygiene and seeking the convenience and comfort of home dining with the luxury of professionally cooked meals and that’s basically our tag line: “Luxury Culinary Experience, Anytime, Anywhere”.

                    Any chef who wants to provide such service will have to register on the platform first. Then they will be able to add their Top 5 recipes/dishes which they want to sell through our platform. Also, they will be able to add the cuisines in which they have attained mastery. So, based on hours of service, time of service and number of people they will decide a certain amount which they will charge from the customers.

                    Now anyone who wants this service will have to first register themselves on this platform. Then they will be able to browse available chefs, the dishes, or the cuisines. Also, by visiting the chef’s profile page they will be able to see the dishes which they can serve and the cuisines which they can serve. After this, they can book the chef as per their preferences and on basis of their requirements they will be charged by chef as mentioned above.

                    Thus, getting an unbelievable luxury culinary experience at our convenient place will become a reality."

                </p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="~/images/logo.png" class="align-content-center" height="300px;width=300px" style="border-radius:10px;" />
            </div>
        </div>
    </div>

</body>