@{
    ViewData["title"] = "Forgot-Password";
}

<div class="forget-password-card">
    <div class="card-body">
        <h5 class="card-title">Forgot Password?</h5>
        <form method="post" asp-action="SendForgotPasswordLink" asp-controller="Home">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <label for="email">Please enter the email linked to your account where we can send link to reset password:</label>
                <input id="email" name="emailinput" class="form-control" placeholder="Email Address" />
                <span class="text-danger"></span>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn  forget-password-btn-send" style="width:100%; margin-top:10px;">Send</button>
                    </div>
                    <div class="col-6">
                        <a asp-controller="Home" asp-action="Login" class="btn btn-primary" style="width:100%; margin-top:10px;">Go Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

