@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<storng>
    Chef Connect Privacy Policy
</storng>

<br />
Effective Date: 2024-02-12
<br />
Welcome to Chef Connect, your go-to online platform for connecting culinary professionals with individuals seeking a luxury culinary experience anytime, anywhere. We understand the importance of your personal information and are committed to protecting your privacy. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit our website or use our services.
<br />
<ol>
    <li>
        Information We Collect

        We may collect the following types of information from our users:

        Personal Identification Information: Name, email address, phone number, and location for both chefs and customers.
        Professional Information for Chefs: Culinary qualifications, top 5 recipes/dishes, cuisines of mastery, and service rates.
        Service Requirements for Customers: Desired dishes, service time, and number of people to be served.
        Payment Information: Credit/debit card numbers or other payment method details for processing transactions (handled by a secure third-party payment processor).
    </li>
    <li>
        Use of Information

        The information we collect is used to:

        Facilitate the creation and management of accounts on our platform.
        Connect chefs with customers based on service requirements and culinary preferences.
        Process transactions and send related information, such as booking confirmations and invoices.
        Improve our platform and tailor user experiences.
        Communicate with users regarding their accounts, our services, and updates to our terms, conditions, and policies.
        Enforce our terms, conditions, and policies and prevent fraudulent activities.
    </li>
    <li>
        Sharing of Information

        We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information except in the following cases:

        To chefs and customers for the purpose of facilitating the booked culinary services.
        To third-party service providers that assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential.
        When required by law, to comply with a legal process, protect our rights or the safety of our users, or investigate fraud or other security issues.
    </li>

    <li>
        Data Security

        We implement a variety of security measures to maintain the safety of your personal information. However, no method of transmission over the Internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.
    </li>
    <li>
        Children's Privacy

        Our service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us. If we become aware that we have collected personal information from a child under age 13 without verification of parental consent, we take steps to remove that information from our servers.
    </li>
    <li>
        Changes to This Privacy Policy

        We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. We encourage you to review this Privacy Policy periodically for any changes.
    </li>
    <li>
        Contact Us

        If you have any questions about this Privacy Policy, please contact us  at <strong>itcondors@conestogac.on.ca</strong>
    </li>
</ol>